/* media content configuration */
.content-wrapper {
    max-width: 720px;
}

.mosaic-container > div {
    background-color: var(--background-white);
    background-clip: padding-box;
}

/* XX-Large devices (larger desktops, 1400px and below) */
@media (max-width: 1400px){}

/* X-Large devices (large desktops, 1200px and below) */
@media (max-width: 1200px){
    .img:not(.unresizable) {
        cursor: default;
    }

    .img:not(.unresizable):active {
        transform:
            scale(1);
        box-shadow: none;
    }
}

/* Large devices (desktops, 992px and below) */
@media (min-width: 992px){
    .mosaic-container {
        min-width: 720px;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Medium devices (tablets, 768px and below) */
@media (max-width: 768px){
    .mosaic-container {
        display: flex;
        flex-direction: column;
        min-width: auto;
    }
}

/* Small devices (landscape phones, 576px and below) */
@media (max-width: 576px){}

/* Small devices (portrait phones, 386px and below) */
@media (max-width: 386px) {}
