/* general configuration */
* {
    box-sizing: border-box;
    color: white;
}

body {
    /* position: fixed; */
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-image: url(../assets/hero/hero-clean_blur.png);
    background-repeat: no-repeat;
    background-size: cover;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;

    background-image: inherit;
    background-repeat: inherit;
    background-size: inherit;
    z-index: -1;
    pointer-events: none;
    transform:
        scale(1.05);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto Mono", monospace;
    color: snow;
    margin: 0;
    padding: 0;
}

p {
    color: snow;
    margin: 0;
    padding: 0;
}

ul {
    padding-left: 24px;
}

span {
    position: relative;
}

/* basal container configuration */
.main-container {
    display: grid;
    grid-template-rows: min-content min-content min-content;
    min-height: 100%;
}

/* header configuration */
.flex-header-container {
    display: flex;
    width: 100%;
    min-height: 124px;
    justify-content: space-between;
    align-items: center;
    
    background-color: rgba(0, 0, 0, .75);
    backdrop-filter: blur(4px);
}

.title-h1 {
    font-size: 1.9rem;
    margin-left: 12px;
    padding: 12px;
}

a.flex-logo-container {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 12px;
}

.img {
    position: relative;
    align-items: flex-end;
    width: 100%;
    height: 360px;

    border: 4px solid rgba(255, 255, 255, .15);
    border-radius: 12px;
    overflow: hidden;
}

.img > img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;

    transition:
        transform .3s ease-out;
}

.img > img:hover,
.img > img:focus {
    transform: scale(1.03);
}

.cmt {
    width: 4.6rem;
}

.midr {
    width: 3.6rem;
}

/* breadcrumb configuration */
.breadcrumb {
    display: flex;
    height: fit-content;
    justify-content: center;
    font-family: "Roboto Mono", monospace;
    font-size: .8rem;
}

.breadcrumb ol {
    display: flex;
    width: 100%;
    padding: 4px 24px;
    margin: 0;
    
    list-style: none;
    background-color: rgba(0, 0, 0, .5);
}

.crumb {
    line-height: 1;
}

.crumb a {
    font-weight: 600;
    font-style: italic;
    text-decoration: none;
    color: rgb(0, 255, 149);

    opacity: .75;
    transition:
        opacity .3s ease;
}

.crumb:active {
    translate: .5px .5px;
}

.crumb a:hover,
.crumb a:focus {
    opacity: 1;
}

.crumb:last-child a {
    opacity: .5;
    pointer-events: none;
}

.crumb::after {
    content: none;
    margin: 0;
}

.crumb:not(:last-child)::after {
    content: "›";
    display: inline-block;
    color: rgb(0, 255, 149);
    margin-right: 8px;
    opacity: .75;;
}

/* media content configuration */
.content-container {
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: flex-start;
    margin: 48px;
}

.content-wrapper {
    display: grid;
    width: 100%;
    max-width: 720px;
    grid-template-rows: min-content 1fr;
    row-gap: 12px;
    justify-items: center;
}

.title-h2 {
    position: relative;
    grid-area: 1 / -1;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 64px;
    padding: 12px;
    background-color: rgba(0, 0, 0, .75);
    border-radius: 12px;

    font-size: 1.4rem;
    text-align: center;
    align-content: center;
}

.mosaic-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.obs {
    position: absolute;
    font-size: .9rem;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 48px);
    bottom: 8px;
    padding: 8px 12px;
    
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    
    border-radius: 12px;
    pointer-events: none;
    
    font-weight: 500;
    font-family: "Roboto Mono", monospace;
    line-height: 1.25;
    text-align: center;
    color: rgb(0, 255, 149);
}

/* general carousel configuration */
.carousel-container {
    --peek: clamp(8px, 3vw, 12px);
    --gap:  clamp(6px, 1.2vw, 12px);
    --h:    clamp(320px, 56vh, 480px);

    position: relative;
    width: 100%;
    max-height: var(--h);
    padding-block: 12px;
    background-color: rgba(0, 0, 0, .75);
    border-radius: 12px;
    overflow: hidden;
}

.carousel-container::after {
    content: "também é possível navegar entre as imagens com o teclado";
    min-width: max-content;
    position: absolute;
    top: -10%;
    left: 50%;
    padding: 4px 8px;
    border-radius: 12px;
    opacity: 0;

    font-size: .8rem;
    font-family: "Roboto Mono", monospace;
    color: white;

    background-color: rgba(0, 0, 0, .5);
    backdrop-filter: blur(4px);

    transition:
        opacity 2.5s ease .2s,
        top .5s ease,
        color .5s ease 8s,
        backdrop-filter .5s ease 8s,
        background-color .5s ease 8s;

    transform:
        translateX(-50%);
}

.carousel-container:hover::after {
    opacity: 1;
    top: 10%;
    color: transparent;
    backdrop-filter: blur(0);
    background-color: transparent;
}

.carousel-wrapper {
    height: 100%;
}

.slider {
    display: flex;
    height: 100%;
    flex: 0 0 100%;
    gap: var(--gap);

    margin: 0;
    padding: 0;
    padding-inline: var(--peek);

    list-style: none;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-padding-inline: var(--peek);
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.slide {
    flex: 0 0 calc(100% - (2 * var(--peek)));
    height: 100%;
    scroll-snap-align: center;
}

.image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    border: 4px solid rgba(255, 255, 255, .15);
    overflow: hidden;
}

.image-wrapper > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

/* buttons */
.image-wrapper > a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    translate: 0% -50%;
    width: 30px;
    height: 30px;

    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .5);

    font-family: "Roboto Mono", monospace;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;

    transition:
        background-color 300ms ease;
}

.image-wrapper > .button-left {
    left: 20px;
}

.image-wrapper > .button-left::before {
    content: "‹";
}

.image-wrapper > .button-right {
    right: 20px;
}

.image-wrapper > .button-right::before {
    content: "›";
}

.image-wrapper > a::before {
    position: absolute;
    translate: 0% -10%;
}

.image-wrapper > a:hover,
.image-wrapper > a:focus {
    background-color: rgba(0, 0, 0, .75);
}

/* marker group */
.carousel-nav {
    position: absolute;
    top: 25px;
    left: 50%;
    translate: -50%;
    z-index: 1;
}

.marker-group {
    display: flex;
    gap: .5rem;
    padding: 4px 8px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, .75);
}

.marker-group > a {
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: white;
    opacity: .75;

    transition:
        background-color 100ms ease,
        opacity 300ms ease;
}

.marker-group > a:hover,
.marker-group > a:focus {
    opacity: 1;
    background-color: rgb(0, 255, 149);
}

/* postscriptum */
.postscriptum-container {
    height: 2rem;
    border-radius: 8px;
    padding: 8px;
    
    align-content: center;
    font-style: italic;
    line-height: 1;

    background-color: rgba(0, 0, 0, .5);
    backdrop-filter: blur(4px);
}

/* facultative section for notes */
.foot-notes {
    display: flex;
    align-items: center;
    flex-direction: column;

    height: fit-content;
    margin: 0px 48px 48px 48px;

    color: white;
}

.notes-container {
    width: 100%;
    max-width: 480px;
    background-color: rgba(0, 0, 0, .75);
    padding: 12px 24px;
    border-radius: 12px;
    font-family: monospace;
}

.title-h3 {
    color: rgb(0, 255, 149);
    font-size: .9rem;
}

.notes-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 8px;
}

.note-item {
    display: flex;
}

.note-acronym {
    min-width: max-content;
}

.note-meaning {
    color: rgb(190, 190, 190);
}

.note-acronym::after {
    content: " → ";
    white-space: pre;
}

/* additional information on hovering */
.tip {
    color: rgb(0, 255, 149);
    background-color: rgba(0, 255, 128, .1);
    border-radius: 12px;
    padding: 0px 12px;
    cursor: help;
    font-style: italic;
    
    transition: 
        background .5s ease;
}

.tip:hover,
.tip:focus {
    background: radial-gradient(rgba(0, 255, 128, .15));
    background-color: rgba(0, 255, 128, .1);
}

.tip::before {
    content: attr(data-tip);
    position: fixed;
    left: 50%;
    bottom: 2.5dvh;

    width: clamp(220px, 90vw, 696px);
    height: fit-content;
    border-radius: 12px;
    padding: 12px;
    transform:
        translateX(-50%);
    background-color: rgba(0, 0, 0, .85);

    font-size: 1.2rem;
    text-align: justify;
    z-index: 100;
    pointer-events: none;
    
    opacity: 0;
    visibility: hidden;
    transition:
        opacity .5s ease;
}

.tip:hover::before,
.tip:focus::before {
    opacity: 1;
    visibility: visible;
}

.italic-text {
    font-style: italic;
    color: rgb(0, 255, 149);
}

.invisible {
    display: none;
}

@media (min-width: 551px) and (max-width: 816px){
    .title-h1 {
        font-size: 1.6rem;
    }

    .title-h2 {
        font-size: 1.2rem;
    }

    .cmt {
        width: 4.3rem;
    }

    .midr {
        width: 3.3rem;
    }

    .carousel-container::after {
        font-size: .6rem;
    }

    .carousel-nav {
        display: none;
    }

    .tip:hover::before,
    .tip:focus::before {
        font-size: .9rem;
    }
}

@media (max-width: 550px) {
    .main-container {
        justify-content: center;
        grid-template-columns: 100%;
    }

    .flex-header-container {
        height: 96px;
        width: 100%;
    }

    .title-h1 {
        font-size: 1.3rem;
    }

    .title-h2 {
        font-size: .9rem;
        padding-inline: 24px;
    }

    .cmt {
        width: 4rem;
    }

    .midr {
        width: 3rem;
    }

    .crumb a {
        font-size: .7rem;
    }

    .content-wrapper {
        width: 100%;
    }

    .mosaic-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .obs {
        font-size: .8rem;
    }

    .slider {
        scrollbar-width: none;
    }

    .carousel-container::after {
        display: none;
    }

    .carousel-nav {
        display: none;
    }

    .tip {
        padding: 0px 8px;
    }

    .tip:hover::before,
    .tip:focus::before {
        font-size: .9rem;
    }
}
