/* media content configuration */
@media (min-width: 901px){
    .mosaic-container {
        display: grid;
        grid-template-columns: repeat(2, 720px);
        gap: 24px;
    }
}

/* @media (max-width: 900px){
    .mosaic-container {
        grid-template-columns: 720px;
    }
    .title-h1 {
        font-size: 2rem;
    }
    .title-h2 {
        font-size: 1.5rem;
    }
} */
