/* media content configuration */
@media (min-width: 481px) and (max-width: 815px){
    .mosaic-container {
        display: flex;
        flex-direction: column;
        min-width: auto;
    }
    
    .title-h1 {
        font-size: 2rem;
    }

    .title-h2 {
        font-size: 1.5rem;
    }
    
    .img {
        width: 100%;
        max-height: 480px;
    }
    
    .img-cell-3 {
        order: -1;
    }
}

@media (min-width: 816px){
    .mosaic-container {
        display: grid;
        min-width: 720px;
        grid-template-columns: repeat(2, 1fr);
    }

    .img {
        width: 100%;
        max-height: 720px;
    }
}

.img-cell-3 {
    grid-area: 1 / 1 / 2 / 3;
    order: -1;
}

.img-cell-3 > img {
    object-position: 50% 20%;
}
