* {
    color: var(--color-white);
}

/* media content configuration */
.selection-grid {
    display: grid;
    max-width: 1080px;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 12px;
    row-gap: 24px;
}

.title-h2 {
    display: flex;
    grid-area: 1 / -1;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: max-content;
    height: 64px;

    border-radius: 0;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.legend-container {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    justify-content: space-around;
    gap: 12px;
    padding-inline: 12px;
    list-style: none;
}

.legend-container li {
    min-width: 120px;
    padding: 4px 8px;
    border-radius: 8px;
    pointer-events: none;
    text-align: center;
}

.legend-container li:nth-child(3) {
    color: var(--color-white);
    border: 1.5px dashed var(--color-white-alpha-75);
    background-color: var(--color-white-alpha-25);
}

.legend-container li:nth-child(2) {
    color: var(--color-yellow);
    border: 1.5px dashed var(--color-yellow-alpha-75);
    background-color: var(--color-yellow-alpha-25);
}

.legend-container li:nth-child(1) {
    color: var(--color-red);
    border: 1.5px dashed var(--color-red-alpha-75);
    background-color: var(--color-red-alpha-25);
}

.column {
    display: grid;
    grid-template-columns: 100%;
    gap: 12px;
    padding: 12px;
}

.item,
.opener-item {
    padding: 12px 12px 12px 12px;
    align-content: center;
    position: relative;
    overflow: hidden;

    background-color: var(--color-white-alpha-75);
    background-clip: padding-box;
    backdrop-filter: blur(4px);
    border: 4px solid var(--color-white-alpha-10);
    border-radius: 16px;
    box-sizing: border-box;

    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    line-height: 1;
    color: var(--color-black);

    transition:
        transform .1s ease;
}

.item:active,
.opener-item:active {
    translate: 1px 1px;
}

.item:not(.pending):hover,
.item:not(.pending):focus,
.opener-item:not(.pending):hover,
.opener-item:not(.pending):focus  {
    background-color: var(--color-white);
    transform:
        scale(.98);
}

.item:is(.partial):hover,
.item:is(.partial):focus {
    background-color: var(--color-yellow);
}

.item:is(.pending):hover,
.item:is(.pending):focus {
    background-color: var(--color-red);
}

.item:not(.pending)::after {
    content: "›";
    width: 5ch;
    height: calc(1.3em*1.0);
    position: absolute;
    top: 50%;
    right: 0;
    translate: 0% -50%;

    border-radius: 10%;
    pointer-events: none;
    opacity: 0;
    background-color: var(--color-white);
    mask-image: var(--mask-fade);

    font-size: 2.5rem;
    text-align: end;
    color: black;

    transition:
        opacity .3s ease;
}

.item:not(.pending):hover::after,
.item:not(.pending):focus::after {
    opacity: 1;
}

/* sections configuration */
.section {
    min-width: min-content;
    background-color: var(--color-black-alpha-50);
    border-radius: 12px;
    box-sizing: border-box;
    backdrop-filter: blur(6px);
}

.section-legend {
    grid-area: 1 / 1 / 2 / -1;
}

.section-substation {
    grid-column: span 3;
    grid-row: span 2;
}

.section-substation > .column-1 {
    grid-template-columns: repeat(2, 1fr);
}

.section-transmission {
    grid-row: span 1;
}

.section-distribution {
    grid-row: span 1;
}

.section-administration {
    grid-column: span 4;
    order: 1;
}

.section-administration > .column-4 {
    grid-template-columns: repeat(3, 1fr);
}

.section-obstacles {
    grid-area: 3 / 1 / 4 / -1;
}

.section-miscellaneous {
    grid-column: span 4;
    order: 2;
}

.partial {
    background-color: var(--color-yellow-alpha-75);
}

.pending {
    background-color: var(--color-red-alpha-25);
    border: 4px solid var(--color-red-alpha-25);
    color: var(--color-red-alpha-75);
    pointer-events: none;
}

/* media configuration */
@media (min-width: 816px) and (max-width: 1080px){
    .selection-grid {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 551px) and (max-width: 815px){
    .selection-grid {
        display: flex;
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .section {
        min-width: auto;
    }
    
    .item,
    .opener-item {
        font-size: 1.1rem;
    }
}

@media (max-width: 550px){
    .selection-grid {
        display: flex;
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .section {
        width: 100%;
        height: auto;
        min-width: auto;
        grid-template-columns: 1fr;
    }

    .legend-container {
        grid-template-columns: 1fr;
        justify-items: center;
    }

     .column {
        display: flex;
        flex-direction: column;
     }

    .item,
    .opener-item {
        font-size: .8rem;
        min-height: 48px;
        padding: 4px;
    }
}
