/* media content configuration */
.content-wrapper {
    max-width: 1080px;
}

.mosaic-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 240px);
    grid-auto-rows: 240px;
}

.img-cell-1 {
    grid-area: 1 / 2 / 3 / 3;
}

.img-cell-6 {
    grid-column: span 3;
    grid-row: span 2;
}

.img-cell-9 img {
    object-position: 0% 65%;
}

@media (min-width: 816px){
    .img {
        height: auto;
        width: auto;
    }
}
